<div class="banner">
	<svg id='logo' width="915" height="248" viewBox="0 0 915 248" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g opacity="0.7">
		<path d="M101.68 104L101.536 43.52L71.872 93.344H61.36L31.84 44.816V104H9.95203V3.19998H29.248L66.976 65.84L104.128 3.19998H123.28L123.568 104H101.68Z" stroke="white" stroke-width="6" mask="url(#path-1-outside-1)"/>
		<path d="M234.027 104L214.587 75.92H213.435H193.131V104H169.803V3.19998H213.435C222.363 3.19998 230.091 4.68798 236.619 7.66398C243.243 10.64 248.331 14.864 251.883 20.336C255.435 25.808 257.211 32.288 257.211 39.776C257.211 47.264 255.387 53.744 251.739 59.216C248.187 64.592 243.099 68.72 236.475 71.6L259.083 104H234.027ZM233.595 39.776C233.595 34.112 231.771 29.792 228.123 26.816C224.475 23.744 219.147 22.208 212.139 22.208H193.131V57.344H212.139C219.147 57.344 224.475 55.808 228.123 52.736C231.771 49.664 233.595 45.344 233.595 39.776Z" stroke="white" stroke-width="6" mask="url(#path-1-outside-1)"/>
		<path d="M304.926 105.152C300.99 105.152 297.678 103.808 294.99 101.12C292.302 98.432 290.958 95.072 290.958 91.04C290.958 86.912 292.302 83.6 294.99 81.104C297.678 78.512 300.99 77.216 304.926 77.216C308.862 77.216 312.174 78.512 314.862 81.104C317.55 83.6 318.894 86.912 318.894 91.04C318.894 95.072 317.55 98.432 314.862 101.12C312.174 103.808 308.862 105.152 304.926 105.152Z" stroke="white" stroke-width="6" mask="url(#path-1-outside-1)"/>
		<path d="M58.192 244.728C47.92 244.728 38.608 242.52 30.256 238.104C22 233.592 15.472 227.4 10.672 219.528C5.96803 211.56 3.61603 202.584 3.61603 192.6C3.61603 182.616 5.96803 173.688 10.672 165.816C15.472 157.848 22 151.656 30.256 147.24C38.608 142.728 47.968 140.472 58.336 140.472C67.072 140.472 74.944 142.008 81.952 145.08C89.056 148.152 95.008 152.568 99.808 158.328L84.832 172.152C78.016 164.28 69.568 160.344 59.488 160.344C53.248 160.344 47.68 161.736 42.784 164.52C37.888 167.208 34.048 171 31.264 175.896C28.576 180.792 27.232 186.36 27.232 192.6C27.232 198.84 28.576 204.408 31.264 209.304C34.048 214.2 37.888 218.04 42.784 220.824C47.68 223.512 53.248 224.856 59.488 224.856C69.568 224.856 78.016 220.872 84.832 212.904L99.808 226.728C95.008 232.584 89.056 237.048 81.952 240.12C74.848 243.192 66.928 244.728 58.192 244.728Z" stroke="white" stroke-width="6" mask="url(#path-1-outside-1)"/>
		<path d="M184.588 244.728C174.124 244.728 164.668 242.472 156.22 237.96C147.868 233.448 141.292 227.256 136.492 219.384C131.788 211.416 129.436 202.488 129.436 192.6C129.436 182.712 131.788 173.832 136.492 165.96C141.292 157.992 147.868 151.752 156.22 147.24C164.668 142.728 174.124 140.472 184.588 140.472C195.052 140.472 204.46 142.728 212.812 147.24C221.164 151.752 227.74 157.992 232.54 165.96C237.34 173.832 239.74 182.712 239.74 192.6C239.74 202.488 237.34 211.416 232.54 219.384C227.74 227.256 221.164 233.448 212.812 237.96C204.46 242.472 195.052 244.728 184.588 244.728ZM184.588 224.856C190.54 224.856 195.916 223.512 200.716 220.824C205.516 218.04 209.26 214.2 211.948 209.304C214.732 204.408 216.124 198.84 216.124 192.6C216.124 186.36 214.732 180.792 211.948 175.896C209.26 171 205.516 167.208 200.716 164.52C195.916 161.736 190.54 160.344 184.588 160.344C178.636 160.344 173.26 161.736 168.46 164.52C163.66 167.208 159.868 171 157.084 175.896C154.396 180.792 153.052 186.36 153.052 192.6C153.052 198.84 154.396 204.408 157.084 209.304C159.868 214.2 163.66 218.04 168.46 220.824C173.26 223.512 178.636 224.856 184.588 224.856Z" stroke="white" stroke-width="6" mask="url(#path-1-outside-1)"/>
		<path d="M327.832 244.728C317.56 244.728 308.248 242.52 299.896 238.104C291.64 233.592 285.112 227.4 280.312 219.528C275.608 211.56 273.256 202.584 273.256 192.6C273.256 182.616 275.608 173.688 280.312 165.816C285.112 157.848 291.64 151.656 299.896 147.24C308.248 142.728 317.608 140.472 327.976 140.472C336.712 140.472 344.584 142.008 351.592 145.08C358.696 148.152 364.648 152.568 369.448 158.328L354.472 172.152C347.656 164.28 339.208 160.344 329.128 160.344C322.888 160.344 317.32 161.736 312.424 164.52C307.528 167.208 303.688 171 300.904 175.896C298.216 180.792 296.872 186.36 296.872 192.6C296.872 198.84 298.216 204.408 300.904 209.304C303.688 214.2 307.528 218.04 312.424 220.824C317.32 223.512 322.888 224.856 329.128 224.856C339.208 224.856 347.656 220.872 354.472 212.904L369.448 226.728C364.648 232.584 358.696 237.048 351.592 240.12C344.488 243.192 336.568 244.728 327.832 244.728Z" stroke="white" stroke-width="6" mask="url(#path-1-outside-1)"/>
		<path d="M444.241 203.4L430.705 217.512V243H407.521V142.2H430.705V189.288L475.345 142.2H501.265L459.505 187.128L503.713 243H476.497L444.241 203.4Z" stroke="white" stroke-width="6" mask="url(#path-1-outside-1)"/>
		<path d="M550.425 161.208H518.169V142.2H606.009V161.208H573.753V243H550.425V161.208Z" stroke="white" stroke-width="6" mask="url(#path-1-outside-1)"/>
		<path d="M702.202 221.4H655.402L646.474 243H622.57L667.498 142.2H690.538L735.61 243H711.13L702.202 221.4ZM694.858 203.688L678.874 165.096L662.89 203.688H694.858Z" stroke="white" stroke-width="6" mask="url(#path-1-outside-1)"/>
		<path d="M768.388 142.2H791.716V243H768.388V142.2Z" stroke="white" stroke-width="6" mask="url(#path-1-outside-1)"/>
		<path d="M837.958 142.2H861.286V223.992H911.83V243H837.958V142.2Z" stroke="white" stroke-width="6" mask="url(#path-1-outside-1)"/>
		</g>
	</svg>
</div>

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", "#", class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Add New Cockatil", new_cocktail_path, class: "nav-link" %>
      </li>
    </ul>
</div>

<div class="container">
<% @cocktails.each do |cocktail| %>
<div class="container-card">
        <div class="card">
            <div class="cocktail">
                <div class="circle"></div>
                <img src="https://cocktailpartyapp.com/wp-content/uploads/Singapore-Sling.png" alt="cocktail">
            </div>
            <div class="info">
                <h1 class="title"><%= cocktail.name %></h1>
                <h3>Tasty</h3>
                <div class="view">
                    <button><%= link_to "View Cocktail", cocktail_path(cocktail) %></button>
                </div>
            </div>
        </div>
    </div>
<% end %>
</div>

<!-- <div class="cocktail-cards">
	<p>
		<% @cocktails.each do |cocktail| %>
		  <%= link_to cocktail.name, cocktail_path(cocktail)  %>
		<% end %>
	</p>
</div>
 -->



