<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", "#", class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Back to List", root_path, class: "nav-link"%>
      </li>
    </ul>
</div>


<div class="container-form">
<h1> <%= @cocktail.name %> </h1>
<% @cocktail.doses.each do |dose| %> 
<p>  <%= dose.description %> || <%= dose.ingredient.name %> || <%= link_to "Remove", root_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %> </p>

<% end %>

<%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
	<%= f.association :ingredient %>
	<% if @dose.errors.any? %>
	<p>*ingredient missing or amount not specified</p>
	<% end %>
	<%= f.submit class: "btn btn-primary" %>
<% end %>
</div>